body{
    background-color: rgb(25, 25, 25);
}

h1, h2, h3 {
    font-family:'Times New Roman', Times, serif;
    color: white;
    font-style: bold;
}

p, p1, li {
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
    font-style: normal;
}