body{
    background-color: rgb(25, 25, 25);
}

ul {
    list-style-type: square;
}

li, ol {
    color:white;
    text-align: left;
    font-style: italic;
}

.header-left {
    font-family:'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    text-align: left;
}

.header-mid {
    font-family:'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    text-align: center;
}

.para-left{
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
    font-style: normal;
    text-align: left;
    
}

.para-mid{
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
    font-style: normal;
    text-align: center;
    
}

.optional{
    color: orangered;
    font-weight:bold
}

.image {
    width: 75%;
}

a {
    color: red;
}

/* cake.html */

.cake-text {
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
    font-style: normal;
    text-align: left;
}

.section-one{
    border: 5px solid white;
    background-color: rgb(44, 44, 44);
}

.caption{
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

.container{
    display: flex;
}

.cake-item {
    border: 2px dashed rgb(255, 255, 255);
    width: 275px;
    height: 275px;
    padding: 6px;
}

.cake-group{
    border: 2px solid rgb(255, 255, 255);
    width: 275px;
}