body{
    background-color: rgb(25, 25, 25);
}

ul {
    list-style-type: square;
}

li, ol {
    color:white;
    text-align: left;
    font-style: italic;
}

.header-left {
    font-family:'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    text-align: left;
}

.header-mid {
    font-family:'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    text-align: center;
}

.para-left{
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
    font-style: normal;
    text-align: left;
    
}

.para-mid{
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
    font-style: normal;
    text-align: center;
    
}

.optional{
    color: orangered;
    font-weight:bold
}

.image {
    width: 75%;
}

a {
    color: red;
}